*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #8fe2f1fa;
}
.container{
  border: 2px solid black;
  padding: 2rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.uppersec{
    margin: 10px;
}
.lowersec {
    width: auto;
    text-align: center;
}